#!/bin/bash

# Run the undercloud install

set -eux

{% for var in (undercloud_env_vars|default([])) %}
export {{ var }}
{% endfor %}

# enable subscription, install and remove it

REG_REPOS="rhel-7-server-rpms rhel-7-server-extras-rpms rhel-7-server-openstack-8-rpms rhel-7-server-openstack-8-director-rpms rhel-7-server-rh-common-rpms" # repos to enable for image build

sudo subscription-manager register --username {{ rhel_reg_user }} --password {{ rhel_reg_password }} --force

# attach the desired pool id
sudo subscription-manager attach --pool="{{ rhel_reg_pool_id }}"

# disable all repos by default
subscription-manager repos --disable=*

repos="repos "
for repo in $(echo $REG_REPOS | tr ',' '\n'); do
    repos="$repos --enable $repo"
done

sudo subscription-manager $repos

# update to refresh package list
sudo yum update -y

openstack undercloud install

